.paginator{
    margin: 10px;
}

.pageNumber{
    margin: 2px;
    padding: 2px;
    border-bottom: 1px solid #01033c;
}

.selectedPage{
    font-weight: bold;
    border-color: #01033c;
}

.button{
    border-radius: 15px;
    background-color: #fde3d4;
    padding: 2px 10px;
}

.button:hover{
    cursor: pointer;
}