.formControl.error input,
.formControl.error textarea{
    border: solid darkred 2px;
}

.formControl.error span{
    color: darkred;
}

.formSummaryError{
    border: solid darkred 2px;
    color: darkred;
    padding: 3px;
}